// Import files
@import "_variables";

// HTML
html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

// Everything
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin";
}

// Body
body {
  display: flex;
  min-height: 120vh;
  flex-flow: column;
  background: $darkGreen;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

// Links
a {
  text-decoration: none;
  color: $mustard;
  &:hover {
    color: darken($mustard, 10%);
  }
}

// Header
#main-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  // Class for header background change
  &.change {
    background: $baseGrey;
  }
  // Name style in header
  #name {
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: $mintGreen;
    // Lastname
    span {
      font-weight: normal;
    }
  }

  // Menu
  // Hide checkbox
  #check {
    display: none;
  }
  // Create menu button style
  .menu-toggle {
    padding: 5px;
    cursor: pointer;
    margin-left: auto;
    // Rows
    span {
      width: 45px;
      background: $mustard;
      color: $mustard;
      padding: 3px;
      margin: 2px;
      display: block;
      // Style middle line, "menu"
      &:nth-child(2) {
        background: none;
        padding: 0;
        text-transform: uppercase;
        font-size: 0.6em;
        text-align: center;
        letter-spacing: 0.3em;
      }
    }
  }
  // Display list when box is checked
  #check:checked ~ .menu-list {
    display: block;
  }
  // Style menu list
  .menu-list {
    display: none;
    min-width: 100%;
    ul {
      list-style: none;
      display: flex;
      width: 100%;
      li {
        display: inline;
        flex-grow: 1;
        flex-basis: 0;
        a {
          display: inline-block;
          padding: 10px;
          width: 100%;
          text-align: center;
          font-size: 0.8em;
          text-transform: uppercase;
          color: $darkGreen;
          text-decoration: none;
          &:hover {
            background: darken($mintGreen, 10%);
          }
        }
      }
    }
  }
}

// Front
// Front page with width 100 vh
.front {
  height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: $darkGreen;
  background-image: linear-gradient(to bottom, transparent 50%, $mintGreen 50%), url(/images/pattern.png);
  // Triangle for effect
  &::after {
    content: "";
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 100px;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background: $mintGreen;
  }
  // Div including output on front page
  .display {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 4em;
    position: relative;
    flex-flow: row wrap;
    // Profile img on front page
    img {
      height: 100%;
      margin-left: auto;
    }
    // Cv of
    p {
      color: $mustard;
      font-size: 1em;
    }
    // Lastname
    h2 {
      color: $darkGreen;
    }
    // Firstname
    h3 {
      color: $mintGreen;
      line-height: 1em;
    }
    // Student title
    .title {
      background: $mustard;
      height: 40px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      width: 100%;
      align-self: flex-end;
      p {
        color: $mintGreen;
        font-size: 0.3em;
        padding: 0 10px;
      }
    }
  }
}

/* Portfolio carousel with Flickity */
.main-carousel {
  background: $darkGreen;
  margin: 20px;
}
// Carousel cell, each project
.carousel-cell {
  width: 80%;
  margin-right: 10px;
  background: $darkGreen;
  color: lighten($darkGreen, 10%);
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  align-items: center;
  // The one that's selected
  &.is-selected {
    background: $darkGreen;
    color: $mintGreen;
  }
  // Image in cell
  img {
    width: 50%;
    height: auto;
  }
  // Div with text in cell, display flex for centering
  div {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    // Add padding to eerything inside div
    > * {
      padding: 10px;
    }
  }
}
// Style for dots
.flickity-page-dots {
  bottom: 0px;
}
// White circles
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
// Selected dot
.flickity-page-dots .dot.is-selected {
  background: white;
}
/**/

// Wrapper
.wrapper {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  // Style for sidebar
  .sidebar {
    background: $darkGreen;
    padding: 60px 10px;
    width: 20%;
    display: flex;
    flex-flow: column;
    align-items: center;
    // Profile img, circle form
    .profile-img {
      display: flex;
      width: 15vw;
      height: 15vw;
      border-radius: 50%;
      border: 5px solid $mustard;
      overflow: hidden;
      background: #fff;
      // Fit img inside circle
      img {
        width: 100%;
        height: auto;
      }
    }
    // Profile name
    #profile-name {
      margin: 20px 10px;
      font-weight: bold;
      font-size: 3em;
      text-align: center;
      color: $mintGreen;
      // Lastname
      span {
        font-weight: normal;
      }
    }
    // Profile description
    #profile-desc {
      padding: 10px;
      text-align: center;
      color: lighten($darkGreen, 20%);
      max-width: 550px;
    }
    // Profile social media
    // Ul
    #profile-socials {
      width: 100%;
      margin: 10px;
      padding: 15px 20px;
      list-style: none;
      text-align: center;
      // Li
      li {
        display: inline-block;
        // Add style to icons before socials
        &::before {
          font-size: 1.5em;
          font-family: "Font Awesome 5 Brands";
          margin: 0 5px 0 10px;
          color: lighten($darkGreen, 20%);
          vertical-align: -15%;
        }
        a {
          color: $mintGreen;
          font-size: 0.8em;
        }
      }
      // Unicode for facebook
      #fb {
        &::before {
          content: "\f082";
        }
      }
      // Unicode for instagram
      #ig {
        &::before {
          content: "\f16d";
        }
      }
      // Unicode for linkedin
      #ldi {
        &::before {
          content: "\f08c";
        }
      }
    }
  }

  // Main area
  main {
    width: 80%;
    // Style for all sections
    .sections {
      padding: 40px;
      border-bottom: 5px solid $mintGreen;
      text-align: center;
      // Add margin-top to first section child because triangle covers content
      &:first-child {
        margin-top: 40px;
        background: $darkGreen;
      }
      // Headers
      h2 {
        color: $mintGreen;
        text-align: center;
        padding: 20px;
        position: relative;
        display: inline-block;
        margin-bottom: 20px;
        letter-spacing: 0.2em;
        // Add line under headers in sections
        &::after {
          content: "";
          height: 3px;
          width: 60%;
          background: $mintGreen;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

// Style for timeline
// Wrapper around all
#timeline-div {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  // The line
  &::after {
    content: "";
    position: absolute;
    width: 6px;
    background: $mustard;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  // Containers for content
  .container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
    // Circles on timeline
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      right: -17px;
      background: #fff;
      border: 4px solid $mintGreen;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }
    // Actual content
    .content {
      padding: 20px 30px;
      background: white;
      position: relative;
      border-radius: 5px;
      text-align: left;
      > * {
        padding: 3px;
      }
      // Icons of birth, school, work
      i {
        color: $mintGreen;
        margin-right: 5px;
      }
    }
  }
  // Left side of containers
  .left {
    left: 0;
    // Add arrows
    &::before {
      content: "";
      height: 0;
      position: absolute;
      top: 22px;
      right: 30px;
      width: 0;
      z-index: 1;
      border: medium solid white;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent white;
    }
  }
  // Right side of containers
  .right {
    left: 50%;
    // Extend .left::before but change arrow direction
    &::before {
      @extend .left::before;
      left: 30px;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
    // Fix the circles
    &::after {
      left: -16px;
    }
  }
}

// Footer
footer {
  background: $mintGreen;
  color: $darkGreen;
  text-align: center;
  padding: 10px;
}

// Media queries
@media all and (max-width: 1035px) {
  .front {
    .display {
      // Have the text go over image
      .display-text {
        z-index: 9;
      }
      // Set profile image on front page to absolute
      img {
        position: absolute;
        right: 0;
        bottom: 40px;
        z-index: 1;
      }
    }
  }

  .wrapper {
    // Set sidebar to width 100%
    .sidebar {
      width: 100%;
      padding: 80px 10px 20px;
      // Make profile img bigger
      .profile-img {
        width: 30vw;
        height: 30vw;
      }
    }
    // Set main to width 100%
    main {
      width: 100%;
    }
  }
}
@media all and (max-width: 800px) {
  .front {
    // Change size of text on front page
    .display {
      h2 {
        font-size: 15vw;
      }
      h3 {
        font-size: 12vw;
      }
      p {
        font-size: 10vw;
      }
      // Hide image
      img {
        display: none;
      }
    }
  }
  // Hide image in portfolio carousel
  .carousel-cell {
    img {
      display: none;
    }
  }
}
@media all and (max-width: 700px) {
  // Change font-size
  p,
  em,
  a {
    font-size: 0.8em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
  h4 {
    font-size: 0.9em;
  }
  #timeline-div {
    // Move line to left side
    &::after {
      left: 5%;
    }
    // Increase width of containers
    .container {
      width: 90%;
      padding: 10px 0 10px 40px;
      // Move circles
      &::after {
        left: -17px;
      }
      .content {
        width: 90%;
      }
    }
    // Change position and place all on right side
    .left {
      left: 5%;
      // Change direction of arrows
      &::before {
        left: 30px;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
    }
    // Change position and place all on right side
    .right {
      left: 5%;
    }
  }
}

.wrapper {
  main {
    .sections {
      padding: 10px;
    }
  }
}

.carousel-cell {
  div {
    padding: 0;
    width: 100%;
  }
}

@media all and (max-height: 820px) {
  .front {
    .display {
      height: 30%;
      .title {
        p {
          font-size: 0.2em;
        }
      }
    }
  }
}

// If IOS, hide triangle after front because clip-path is not supported
@supports (-webkit-overflow-scrolling: touch) {
  .front::after {
    display: none;
  }
}